body {
    border: .5rem solid #ff0080;
    border-radius: 10px;
    background-color: #ffaec9;
    text-align: center;
    height: 100vh;
    width: 100vw;
}


.border-img {
    margin: 0.5%;
    height: 5%;
    width: 95%;
}


#inner-compliment {
    border: .5rem solid #ff0080;
    border-radius: 10px;
    background-color: #ffe6ee;
    color: rgb(255, 0, 128);
    font-family: 'Press Start 2P', cursive;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 1%;
    margin-top: 0;
    padding: auto 10%;
}

#compliment {
    font-size: 5vmin;
}

.image {
    height: auto;
    width: 40vmin;
}
